<?php $this->partial('partials/przystanki'); ?>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="0">
    <div class="carousel-inner" role="listbox">

        <div class="item active" data-slide="0">
            <div class="col-lg-1"></div>
            <div class="caruzela-srodek col-lg-10">
                <div data-toggle="buttons">


                    <?php
                        foreach($rozklady as $rozklad){
                     ?>
                        <label class="btn btn-default btn-block btn-lg">
                            <input type="radio" data-rozklad="<?php echo $rozklad->id; ?>" name="rozklady" autocomplete="off" ><?php echo $rozklad->nazwa; ?><i class="glyphicon glyphicon-chevron-right pull-right"></i>
                        </label>
                    <?php
                        }
                    ?>

                </div>
            </div>
        </div>

        <div class="item" data-slide="1" data-disabled="true">
            <div class="col-lg-1"></div>
            <div class="caruzela-srodek col-lg-10">
                <div data-toggle="buttons" id="trasy">
                </div>
            </div>
        </div>

        <div class="item" data-slide="2" data-disabled="true">
            <div class="col-lg-1"></div>
            <div class="caruzela-srodek col-lg-10">
                <h4 id="nazwa-trasy"></h4>
                <div class="btn-group btn-block">
                    <button id="prev-przystanek" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button id="przystanek" class="btn btn-default">Przystanek</button>
                    <button id="next-przystanek"class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
                    <div id="przystanek-body" class="clearfix">

                        <table id="next-time-table" class="table table-striped table-bordered pull-left">
                            <thead>
                            <tr>
                                <th>Czas do następnego:</th><th>min</th>
                            </tr>
                            </thead>
                            <tbody id="next-przystanki-table">

                            </tbody>
                        </table>
                        <table id="time-table" class="table table-striped table-bordered pull-right">
                            <thead id="schedule-table-header">

                            </thead>
                            <tbody id="schedule-table-body">

                            </tbody>
                        </table>



                    </div>
                    <a href="#" id="map-link" class="btn btn-block btn-lg btn-success">Mapa</a>
            </div>
        </div>
    </div>

    <!-- left and right arrows -->
    <a id="prev-arrow" class="left carousel-control invisible" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a id="next-arrow" class="right carousel-control invisible" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<script type="application/javascript">
    var initAutoTrasa = true;
    $('#myCarousel').on('slide.bs.carousel', function (e) {
        var slide = $(e.relatedTarget);
        slide.data('disabled',false);
        if(slide.next().data('disabled') || slide.next().length === 0) {
            $('#next-arrow').addClass('invisible');
        }
        else {
            $('#next-arrow').removeClass('invisible');
        }
        var current = slide.data('slide');
        if(current <= 0)
            $('#prev-arrow').addClass('invisible');
        else
            $('#prev-arrow').removeClass('invisible');

    });
    $('input[name=rozklady]').change(function(){
        getTrasy($(this).data('rozklad'),function(){
            $('#myCarousel').carousel('next');
            $('input[name=trasy]').change(function(){
                var trasa = $(this);
                getPierwszyPrzystanek(trasa.data('trasa'),function(){
                    $("#nazwa-trasy").html(trasa.parent().text());
                    $("#map-link").attr("href","<?=ROOT_HOST_PATH?>/map/"+trasa.data('trasa'));
                    $('#myCarousel').carousel('next');
                    <?php
                    if(isset($przystanek)) {
                        ?>
                        if(initAutoTrasa) {
                            getPrzystanek(<?=$przystanek?>,function(){});
                            initAutoTrasa = false;
                        }

                    <?php
                    }
                    ?>
                });
            });
            <?php
            if(isset($trasa)) {
                ?>
                $('input[name=trasy]').each(function(){
                    var elem = $(this);
                    if(elem.data('trasa')==<?=$trasa?> && initAutoTrasa)
                    {
                        setTimeout(function(){elem.click();},1000);
                    }
                });
            <?php
            }
            ?>
        });
    });
    $('#przystanek').click(function(){
        var przycisk = $(this);
        getPrzystankiToModule(przycisk.data('trasa'),przycisk.data('id'),function(){
            $('#przystanki-modal').modal();
        });
    });
    $('#next-przystanek').click(function(){
        getPrzystanek($(this).data('nastepny'),function(){

        });
    });
    $('#prev-przystanek').click(function(){
        getPrzystanek($(this).data('poprzedni'),function(){

        });
    });
    function getTrasy(id,callback){
        $.getJSON("<?=ROOT_HOST_PATH?>/rozklad/"+id,function(data){
            var trasy = $('#trasy');
            trasy.empty();
            data.forEach(function(trasa){
                $('<label/>',{
                    class: "btn btn-default btn-block btn-lg"
                })
                .html(trasa.nazwa)
                .append($('<input/>',{
                            data: {
                                'trasa':trasa.id
                            },
                            type: "radio",
                            name: "trasy",
                            autocomplete: "off"
                        }))
                .append($('<i/>',{
                            class: "glyphicon glyphicon-chevron-right pull-right"
                        }))
                .appendTo(trasy);
            });
            callback();
        });
    }

    function getPierwszyPrzystanek(id,callback){
        $.getJSON("<?=ROOT_HOST_PATH?>/trasa/"+id,function(data){
            if(data.redirect) {
                window.location = 'http://frikobusy.pl'+data.redirect;
            }
            applyPrzystanek(data,callback);

        });
    }

    function getPrzystankiToModule(id,callee_id,callback){
        $.getJSON("<?=ROOT_HOST_PATH?>/przystanki/"+id,function(data){
            var list = $('<div/>',{
                class:'list-group'
            });
            data.forEach(function(przystanek){
                var active = przystanek.id === callee_id ? ' active' : '';
                var li = $('<a/>',{
                    class:'list-group-item'+active,
                    html:przystanek.nazwa,
                    data:{
                        'id':przystanek.id
                    },
                    css:{
                        cursor: 'pointer'
                    }
                });
                li.click(function(){
                    getPrzystanek($(this).data('id'),function(){
                        $('#przystanki-modal').modal('hide');
                    });
                });
                list.append(li);
            });
            $('#przystanki-modal .modal-title').empty().html($("#nazwa-trasy").html());
            list.appendTo($('#przystanki-modal .modal-body').empty());
            callback();
        });
    }

    function getPrzystanek(id,callback){
        $.getJSON("<?=ROOT_HOST_PATH?>/przystanek/"+id,function(data){
            applyPrzystanek(data,callback);
        });
    }

    function applyPrzystanek(data,callback) {
        $('#przystanek').html(data.nazwa);
        $('#przystanek').data('trasa',data.trasa);
        $('#przystanek').data('id',data.id);
        makeNextPrzystankiTable(data.nexttable);
        makeScheduleTable(data.timetable);
        var poprzedni_arrow = $('#prev-przystanek');
        var nastepny_arrow = $('#next-przystanek');
        if(!data.poprzedni)
            poprzedni_arrow.addClass('disabled');
        else
            poprzedni_arrow.removeClass('disabled');
        if(!data.nastepny)
            nastepny_arrow.addClass('disabled');
        else
            nastepny_arrow.removeClass('disabled');
        poprzedni_arrow.data('poprzedni',data.poprzedni);
        nastepny_arrow.data('nastepny',data.nastepny);
        callback();
    }

    function makeNextPrzystankiTable(nexttable){
        var table = $('#next-przystanki-table').empty();
        nexttable.forEach(function(przystanek){
            $('<tr/>').append($('<td/>',{
                html: przystanek[0]
            })).append(
            $('<td/>',{
                html: przystanek[1]
            })).appendTo(table);
        });
    }

    function makeScheduleTable(timetable){
        var table_header = $('#schedule-table-header').empty();
        var table_body = $('#schedule-table-body').empty();
        var headers = Object.keys(timetable);
        var upper_header = $('<tr/>');
        var lower_header = $('<tr/>');
        var rows = [];
        var i = 0;
        headers.forEach(function(header){
            upper_header.append(
                    $('<th/>',{
                        html: header,
                        colspan: 2
                    })
            );
            lower_header.append(
                    $('<th/>',{
                        html: "godz"
                    })
            ).append(
                    $('<th/>',{
                        html: "min"
                    })
            );
            timetable[header].forEach(function(column){
                i = 0;
                column.forEach(function(cell){
                    var row = null;
                    if(!(row = rows[i])) {
                        row = $('<tr/>').appendTo(table_body);
                        rows.push(row);
                    }
                    row.append($('<td/>',{
                        html: cell
                    }));
                    i++;
                });

            });
        });
        upper_header.appendTo(table_header);
        lower_header.appendTo(table_header);

    }
</script>