<div class="panel panel-default">
    <div class="panel-heading">
        Dokumentacja API
    </div>
    <div class="panel-body">
        <p>Dane udostępniane przez API projektu "darmobusy" dostępne są w postaci JSON, trasy można natomiast pobrać w formacie GPX (XML).</p>

        <h3 id="rozklady">Rozkłady</h3>
        <h4>Zapytanie</h4>
        <p>Wszystkie moliwe rozkłady dostępne są pod ścieżką:</p>
        <pre>/api/rozklady</pre>
        <h4>Odpowiedź</h4>
        <pre>[...,
         {
            "id": "7",
            "nazwa": "Real CH M1",
            "url": "\/trasy\/1\/real-ch-m1"
         },
...]</pre>
        <ul>Gdzie:
            <li><code>id</code> - numer przypisany do rozkładu</li>
            <li><code>nazwa</code> - nazwa rozkładu</li>
            <li><code>url</code> - oryginalny adres rozkładu</li>
        </ul>

        <h3 id="trasy">Trasy</h3>
        <h4>Zapytania</h4>
        <p>Wszystkie moliwe trasy dostępne są pod ścieżką:</p>
        <pre>/api/trasy</pre>
        <br/>
        <p>Jeśli chcemy otrzymać trasy tylko z jednego rozkładu:</p>
        <pre>/api/rozklad/:rozkladID/trasy</pre>
        <ul>Gdzie:
            <li>
                <code>:rozkladID</code> - numer przypisany do rozkladu (można go trzymać <a href="#rozklady">stąd</a>).
            </li>
        </ul>
        <br/>
        <p>By pobrać trasy z informacjami geograficznymi w formacie GPX:</p>
        <pre>/api/gpx/:trasaID</pre>
        <ul>Gdzie:
            <li>
                <code>:trasaID</code> - numer przypisany do trasy.
            </li>
        </ul>
        <h4>Odpowiedź</h4>
        <pre>[...,
            {
                "id": "11",
                "nazwa": "Tramwaj Manufaktury",
                "url": "\/rozklad\/24\/tramwaj-manufaktury",
                "rozklad": "5"
            },<br/>...]</pre>
        <ul>Gdzie:
            <li><code>id</code> - numer przypisany do trasy</li>
            <li><code>nazwa</code> - nazwa trasy</li>
            <li><code>url</code> - oryginalny adres trasy</li>
            <li><code>rozklad</code> - numer rozkladu, z którego jest trasa</li>
        </ul>


        <h3 id="przystanki">Przystanki</h3>
        <h4>Zapytania</h4>
        <p>Wszystkie moliwe przystanki dostępne są pod ścieżką:</p>
        <pre>/api/przystanki</pre>
        <br/>
        <p>jeśli chcemy przystanki tylko z jednej trasy:</p>
        <pre>api/trasa/:trasaID/przystanki</pre>
        <ul>Gdzie:
            <li>
                <code>:trasaID</code> - numer przypisany do trasy (można go trzymać <a href="#trasy">stąd</a>).
            </li>
        </ul>
        <h4>Odpowiedź</h4>
        <pre>[...,
            {
                "id": "221",
                "nazwa": "Tatrza\u0144ska - Grota-Roweckiego",
                "url": "\/linie\/show\/id\/21\/id_przystanek\/54",
                "timetable": {
                    ...
                },
                "nexttable": [
                    ...
                ],
                "nastepny": "220",
                "poprzedni": "222",
                "trasa": "19"
            },<br/>...]</pre>
        <ul>Gdzie:
            <li><code>id</code> - numer przypisany do przystanku</li>
            <li><code>nazwa</code> - nazwa przystanku</li>
            <li><code>url</code> - oryginalny adres przystanku</li>
            <li><code>timetable</code> - obiekt z odjazdami autobusow</li>
            <li><code>nexttable</code> - tablica z nazwami i minutami do następnych przystanków na trasie</li>
            <li><code>nastepny</code> - numer następnego przystanku</li>
            <li><code>poprzedni</code> -numer poprzedniego</li>
            <li><code>trasy</code> - numer trasy, z którego jest przystanek</li>
        </ul>
    </div>
</div>