<div class="panel panel-default">
    <div class="panel-body">

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle noselect" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <h4 class="panel-title">
                        <span>
                            Wyznacz trasę
                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></span>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                    <!-- szukanie trasy form -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">

                            <form action="<?=ROOT_HOST_PATH?>/wyznacz" method="POST">
                                <div class="form-group">
                                    <label for="from-przystanek">Z</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="start" id="from-przystanek" placeholder="Wyruszam z...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default my-location" type="button">Moja lokacja</button>
                                        </span>
                                    </div>
                                    <p class="help-block">Wpisz nazwę dowolnego miejsca w Łodzi, z którego wyruszasz, np. Galeria Łódzka. Możesz posłużyć się współrzędnymi geograficznymi, np 51.759718, 19.464485. Przycisk "Moja lokacja" pobiera Twoją aktualną pozycję.</p>
                                </div>
                                <div class="form-group">
                                    <label for="to-przystanek">Do</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="end" id="to-przystanek" placeholder="Zmierzam do...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default my-location" type="button">Moja lokacja</button>
                                        </span>
                                    </div>
                                    <p class="help-block">Wpisz dowolne miejsce w Łodzi, do którego zmierzasz, np. Żeromskiego - plac Barlickiego. Możesz również posłużyć się koordynatami, np. 51.767646, 19.443620.</p>
                                </div>
                                <button type="submit" class="btn btn-default pull-right">Szukaj</button>
                            </form>

                        </div>
                    <!-- szukanie trasy form end -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle noselect" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <h4 class="panel-title">
                        <span>
                            Przeglądaj rozkład
                        <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i></span>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" style="padding:0;">
                    <!-- carousel -->
                        <?php $this->partial('/partials/rozklad') ?>
                    <!-- end carousel -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading accordion-toggle noselect" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <h4 class="panel-title">
                        <span>
                            API
                        <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i></span>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Projekt powstał na potrzeby pracy inżynierskiej przez <a href="mailto:firuaun@gmail.com">Rafała Grzyb</a>.<br/>
                        Rozkłady pobrane zostały z <a href="http://frikobusy.pl">frikobusy.pl</a>.<br/>
                        Mapy zawarte na stronie dostarcza <a href="http://openlayers.org/">OpenLayers</a>.<br/><br/>
                        <a class="btn btn-default center-block" href="<?=ROOT_HOST_PATH.'/api'?>">Przejdź do dokumentacji API.</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    function toggleChevron(e) {
        $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }
    $('#accordion').on('hide.bs.collapse', toggleChevron);
    $('#accordion').on('show.bs.collapse', toggleChevron);
    $('.my-location').click(function() {
        if ("geolocation" in navigator) {
            var button = $(this);
            navigator.geolocation.getCurrentPosition(function (position) {
                        var coords = position.coords;
                        button.parent().prev().val(coords.latitude + ", " + coords.longitude);
                    },
                    function () {
                        alert("Wystąpił błąd podczas pobierania lokacji.");
                    },
                    {maximumAge: 10000});
        }
        else {
            alert("Pobranie Twojej lokacji było niemożliwe.");
        }
    });
    <?php
            if(isset($rozklad)) {
                ?>
                $(window).load(function() {
                    $('div.panel:nth-child(2) > div:nth-child(1)').click(); //open second panel
                    $('input[data-rozklad=<?=$rozklad?>]').click();
                });

                <?php
            }
    ?>
</script>