<link rel="stylesheet" href="http://openlayers.org/en/v3.1.1/css/ol.css" type="text/css">
<script src="http://openlayers.org/en/v3.1.1/build/ol.js" type="text/javascript"></script>

<h4><?=$map_title?></h4>

<div id="map" class="map">
    <div id="navi-panel" class="panel panel-primary">
        <div id="navi-panel-head" class="panel-heading noselect">Trasa</div>
        <div id="navi-panel-body" class="panel-body">
            <div class="list-group">
                <?php
                if(isset($przystanki)){
                    foreach($przystanki as $przystanek){
                ?>
                        <a data-id="<?=$przystanek->id?>" class="przystanek list-group-item"><?=$przystanek->nazwa?></a>
                <?php
                    }
                 }
                 else if(isset($graph)){
                    $edges = $graph->get_edges();
                    $edges_length = count($edges);
                    $i = 0;
                    foreach($graph->get_nodes() as $node){
                    ?>
                        <a data-id="<?=$node->get_sym()?>" class="przystanek list-group-item"><?=$node->get_name()?></a>
                    <?php
                        if($i < $edges_length){
                            $edge = $edges[$i];
                            $name = $edge->get_weight() === FOOT_ROUTE_WEIGHT ? sprintf("%s (ok. %dm)",$edge->get_name(),Coordinates::measureDistanceBetween($edge->get_from()->get_cords(),$edge->get_to()->get_cords())) : $edge->get_name();
                            ?>
                                <a class="droga list-group-item-warning list-group-item"><?=$name?></a>
                            <?php
                            $i++;
                        }
                    }
                 }
                ?>
            </div>
        </div>
    </div>
</div>

<div id="popupOverlay" class="panel panel-default clearfix">
    <button type="button" class="close" data-target="#popupOverlay" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="panel-body">
        <a id="rozklad-button" class="btn btn-block btn-primary">Zobacz rozkład</a>
    </div>
</div>

<script type="text/javascript">

    var trackLayer = <?php
    if(isset($file_gpx)) {
        echo "new ol.layer.Vector({
            source: new ol.source.GPX({
                projection: ol.proj.get('EPSG:3857'),
                url: '".View::asset($file_gpx)."'
            }),
            style: function(feature, resolution){
                return style[feature.getGeometry().getType()];
            }
        });";
    }
    else if(isset($string_gpx)){
        ?>
        new ol.layer.Vector({
            source: new ol.source.Vector({
                features: (new ol.format.GPX()).readFeatures('<?=$string_gpx?>',{featureProjection:ol.proj.get('EPSG:3857')})
            }),
            style: function(feature, resolution){
                if(feature.get('name')==="pieszo")
                    return style['MultiLineString'];
                return style[feature.getGeometry().getType()];
            }
        });
    <?php
    }
    ?>
    var popupOverlay = new ol.Overlay({
        element: document.querySelector('#popupOverlay')
    });

    var style = {
        'SelectedPoint': [new ol.style.Style({
            image: new ol.style.Circle({
                fill: new ol.style.Fill({
                    color: 'rgba(255,255,255,0.9)'
                }),
                radius: 10,
                stroke: new ol.style.Stroke({
                    color: '#000000',
                    width: 2
                })
            })})],
        'Point': [new ol.style.Style({
            image: new ol.style.Circle({
                fill: new ol.style.Fill({
                    color: 'rgba(255,255,0,0.4)'
                }),
                radius: 10,
                stroke: new ol.style.Stroke({
                    color: '#ff0',
                    width: 1
                })
            })
        })],
        'LineString': [new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#f00',
                width: 3
            })
        })],
        'MultiLineString': [new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: '#0f0',
                width: 3
            })
        })]
    };
    var map = new ol.Map({
        controls: ol.control.defaults().extend([
            new ol.control.FullScreen()
        ]),
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }), trackLayer

        ],
        view: new ol.View({
            center: ol.proj.transform([19.4440008, 51.7675715], 'EPSG:4326', 'EPSG:3857'),
            zoom: 14
        })
    });
    map.addOverlay(popupOverlay);
    map.on("click", function(e) {
        map.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
            if(feature.get('sym')){
                selectPrzystanek(feature,null);
            }
        });
    });

    trackLayer.once('change',function(){
        map.getView().setCenter(trackLayer.getSource().getFeatures()[1].getGeometry().getCoordinates());
    });
    $("#navi-panel-head").click(function(){
        $("#navi-panel-body").toggle();
    });
    $('#popupOverlay .close').click(function(){
        $('#popupOverlay').css({display:'none'});
    });
    var currentFocusFeature = null;
    var currentFocusItem = null;
    $('.przystanek').click(function(e){
        var elem = $(this);
        selectPrzystanek(null,elem);
    });

    function selectPrzystanek(feature,item){
        if(!feature) {
            feature = getFeature(item.data('id'));
        }
        if(!item) {
            item = getItem(feature.get('sym'));
        }
        if(currentFocusFeature)
            currentFocusFeature.setStyle(style['Point']);
        if(currentFocusItem) {
            currentFocusItem.removeClass("active");
        }
        feature.setStyle(style['SelectedPoint']);
        item.addClass("active");
        map.beforeRender(new ol.animation.pan({
            duration: 500,
            source: map.getView().getCenter()
        }));
        var coords = feature.getGeometry().getCoordinates();
        map.getView().setCenter(coords);
        currentFocusFeature = feature;
        currentFocusItem = item;
        if(item.data('id') >= 0){
            popupOverlay.setPosition(coords);
            $(popupOverlay.getElement()).css({'display':'block'});
        }
        else {
            $(popupOverlay.getElement()).css({'display':'none'});
        }
        $('#rozklad-button').html(item.html()).attr('href','<?=ROOT_HOST_PATH?>/show/'+item.data('id'));

        return true;
    }

    function getFeature(id){
        var result = null;
        trackLayer.getSource().getFeatures().forEach(function(feature) {
            if(feature.get('sym')==id) {
                result = feature;
                return feature;
            }
        });
        return result;
    }

    function getItem(id){
        return $('a[data-id='+id+']');
    }
</script>