#body {

}

.brand {
    padding-top: 9px;
    line-height: 32px;
}
.favicon {
    display: inline !important;
    padding-right: 5px;
}
.indicator {
    opacity: 0.3;
}
/* global utils*/
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* akordeon */
.accordion-toggle {
    cursor:pointer;
}

/* karuzela */
.caruzela-srodek {
    min-height:200px;
    padding: 2% 0;
}

.caruzela-srodek button,.caruzela-srodek label {
    white-space: inherit !important;
}

.caruzela-srodek i {
    padding-top: 2px;
}

.carousel-control {
    width:5%;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0px, transparent 100%);
}
.carousel-control.right {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0px, transparent 100%);
}

/* przystanek */
#prev-przystanek,#next-przystanek{
    width:5%;
}
#przystanek {
    width:90%;
}

/* tabelki */
table th {
    text-align: center;
}
#przystanek-body {
    margin-top: 2em;
}

#next-time-table {
    width: 29% !important;
}

#time-table {
    width: 69% !important;
}
/* mapa */

#map {
    height: 100%;
    width: 100%;
    position:relative;
}

#navi-panel{
    position:absolute;
    top: 69px;
    left: 5px;
    z-index: 10;
}

#navi-panel-head{
    cursor: pointer;
}